.modalHolder{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width:500px;
    height:400px;
    background: #ffffff;
    box-shadow: 0px 0px 15px rgb(0 0 0 /15%);
    border-radius: 5px;
    display:block;
    transition:all 0.3s ease;
    opacity: 1;
    display: block;
}
.modalClose{
    display: none;
    width: 0;
}
.modalHolder button{
    position: absolute;
    bottom: 10px;
    left:50%;
    transform: translateX(-50%);
    background: none;
    border:2px solid rgb(99, 138, 185);
    color:rgb(99, 138, 185);
    padding:8px 15px;
    font-size: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
.modalHolder h2{
    margin-top: 2rem;
    box-shadow: 0px 0px 10px rgb(0 0 0 /20%);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.closeModal{
    position: relative;
    cursor: pointer;
}
.closeModal span{
    display: block;
    position: absolute;
    width:20px;
    height:2px;
    background-color:rgb(99, 138, 185);
    right:5px;
    top:12px;
    z-index: 111;
    transform: rotate(140deg);
}
.closeModal span::after{
    content: '';
    display: block;
    position: absolute;
    width:20px;
    height:2px;
    background-color:rgb(99, 138, 185);
    right:0px;
    top:0px;
    z-index: 111;
    transform: rotate(80deg);
}