.formHolder{
    width:100vw;
    height: 100vh;
    position: relative;
}
.formWrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formBody {
    width:500px;
    height:auto;
    background: #fff;
    box-shadow: 5px -4px 5px rgb(0 0 0 /10%);
    transform:perspective(600px) rotateY(-10deg);
    -webkit-box-reflect:below 2px  linear-gradient(transparent,transparent,#0003);
    transition: 0.5s ease;
}
.formBody:hover {
    box-shadow: 5px -4px 10px rgb(255 255 255 /12%);
    transform:perspective(600px) rotateY(0deg);
    -webkit-box-reflect:below 2px linear-gradient(transparent,transparent,#0004);
}
.formGroup{
    margin:1rem !important;
}
.formGroupBtn {
    margin: 1rem;
}
.title{
    position: absolute;
    top:15px;
    left:50%;
    transform: translateX(-50%);
}
.contactModal {
    position: absolute;
    width:500px;
    height:300px;
    top:15px;
    left:50%;
    transform: translateX(-50%);
}