.formHolder{
    width:100vw;
    height: 100vh;
    position: relative;
    background: linear-gradient(#0003 ,#0007);
}
.contactMainPage {
    width:100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contactMainPage h2:hover{
    transition:all 0.5s ease;
    background: #0003;
}
.contactMainPage h2 a{
   text-decoration: none;
}
.formWrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formBody {
    width:500px;
    height:auto;
    background: #ddd;
    box-shadow: 5px -4px 5px rgb(0 0 0 /10%);
    transform:perspective(600px) rotateY(-10deg);
    -webkit-box-reflect:below 2px  linear-gradient(transparent,transparent,#0005);
    transition: 0.5s ease;
}
.formHookBody {
    width:500px;
    height:auto;
    background: rgb(148, 168, 168);
    box-shadow: 5px -4px 5px rgb(0 0 0 /10%);
    transform:perspective(600px) rotateY(-10deg);
    -webkit-box-reflect:below 2px  linear-gradient(transparent,transparent,#0005);
    transition: 0.5s ease;
}
.formBody:hover {
    box-shadow: 5px -4px 10px rgb(255 255 255 /12%);
    transform:perspective(600px) rotateY(0deg);
    -webkit-box-reflect:below 2px linear-gradient(transparent,transparent,#0004);
}
.formHookBody:hover {
    box-shadow: 5px -4px 10px rgb(255 255 255 /12%);
    transform:perspective(600px) rotateY(0deg);
    -webkit-box-reflect:below 2px linear-gradient(transparent,transparent,#0004);
}
.formGroup{
    margin:2rem 1rem !important;
    position: relative;
    outline: none;
}

.formGroupBtn {
    margin: 1rem;
    background: none !important;
    color:#225a6e !important;
    border:2px solid #225a6e !important;
    font-weight: bold !important;
    transition: all 0.5s ease;
}
.formGroupBtn:hover {
    margin: 1rem;
    background: #225a6e !important;
    color:#fff !important;
    font-weight: bold;
    opacity: 1 !important;
}
.title{
    position: absolute;
    top:15px;
    left:50%;
    transform: translateX(-50%);
    white-space: nowrap;
}
.contactModal {
    position: absolute;
    width:700px;
    height:500px;
    top:15px;
    left:50%;
    transform: translateX(-50%);
    z-index: 11111;
}
.formGroup input{
    padding-right: 40px;
}
.tooltips {
    position: absolute;
    right: 0px;
    top: 12px;
    color: red;
    font-family: monospace;
}
.errorTooltips{
    position: absolute;
    white-space: nowrap;
    background: rgba(167, 7, 7, 0.829);
    color:#fff;
    padding:0 5px;
    transition: 0.2s ease;
    animation: show 4s;
    opacity: 0;
    right: -50%;
    top: -40px;
}
.caret{
    position: absolute;
    color: rgba(167, 7, 7, 0.829);
    top:10px;
    right:50%;
    transform: translateX(10px);
    font-size: 22px;
}
.tooltips:hover .errorTooltips{
    opacity: 1;
}
.errorIcon {
    position: absolute;
    right:10px;
    top:0px
}
.validIcon {
    position: absolute;
    right:10px;
    top:10px
}

@keyframes show {
    0%{
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}