.textHolder {
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;  
}
.btnAddText {
  box-shadow: -3px 0px 2px rgb(255 255 255 / 50%);
  background: #305563;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  outline: none;
  color: rgb(99, 138, 185);
  font-weight: 700;
  font-size: 14px;
  cursor:pointer  !important;
  transition: all 0.3s ease-out;
  height: 32px;
  width: 130px;
}
.inputHolder {
  display: flex;
  justify-content: flex-end;
  height: auto;
  box-shadow: 2px 2px 20px rgb(255 255 255 / 10%);
  padding:10px 15px;
  margin:2rem 0;
  height: 60px;
  align-items: center;
  border-radius: 15px;
}
.btnHolder{
    display: flex;
    justify-content: flex-end;
    height: auto;
    box-shadow: 2px 2px 20px rgb(255 255 255 / 10%);
    padding:10px 15px;
    margin:2rem 0;
    height: 60px;
    align-items: center;
   border-radius: 15px;
}
.inputItem{
  width:250px;
  height:32px;
  padding: 10px;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-right: 5px;
  outline: none;
  background: transparent;
  box-shadow: -3px 0px 2px rgb(255 255 255 / 50%);
  transition: all 1s ease-out;
  padding-top: 8px;
}
.btnAdd{
  box-shadow: 3px 0px 2px rgb(255 255 255 / 50%);
  background: #305563;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  outline: none;
  color: rgb(99, 138, 185);
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease-out;
  height: 32px;
  
}
.btnDeleteAll{
  box-shadow: -3px 0px 2px rgb(255 255 255 / 50%);
  background: #305563;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  outline: none;
  color: rgb(99, 138, 185);
  font-weight: 700;
  font-size: 14px;
  cursor:pointer  !important;
  transition: all 0.3s ease-out;
  height: 32px;
  width: 130px;
}
.btnCheckAll{
    box-shadow: 3px 0px 2px rgb(255 255 255 / 50%);
    background: #305563;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    outline: none;
    color: rgb(99, 138, 185);
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease-out;
    height: 32px;
    width: 130px;
}
.btnCheckAll:checked{
  background: #305563;
}
.btnDeleteAll:disabled {
  background: none;
  cursor: no-drop;
}

.inputItem:focus{
  box-shadow: 0px 0px 5px rgb(99, 138, 185) / 50%;
}
.inputItem:hover{
  width: 450px !important;
  background:#305563;
  color: aliceblue;
  transition: width 2.5s;
}
.inputItem:disabled{
  width:250px !important;
  background: rgba(221, 221, 221, 0.452);
}
.btnAdd:disabled{
  transition: all 0.3s ease-out;
  background:none;
  cursor: no-drop;
}
.disabledBtn{
  background: none;
  cursor: not-allowed;
  box-shadow: 3px 0px 2px rgb(255 255 255 / 50%);
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  outline: none;
  font-weight: 700;
  font-size: 14px;
  cursor: no-drop;
  transition: all 0.3s ease-out;
  height: 32px;
}
.textarea {
  width:100%;
  background: transparent;
  border:none;
  box-shadow: 0px 0px 10px rgb(255 255 255 / 25%);
  padding:5px 10px;
  border-radius: 15px;
  outline: none;
}
.vh{
  height:100vh;
  overflow: hidden;
}

.addSome{
  margin:5rem 0  12rem;
}