.App {
  width:100%;
  height: 100%;
  display: block;
  text-align: center;
}
::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-thumb{
  background: #252829;
}
::-webkit-scrollbar-track{
  background: #3e4866;
}
button:disabled{
  background: none;
  color:#ddd;
}
button:hover{
  opacity: 0.7;
  color:#222222;
}
ul {
  margin:0;
}
li{
  list-style: none;
}
a {
  text-decoration: none !important;
}
.pos-relative{
  position: relative;
}
button {
  outline: none;
}
h2{
  box-shadow: 2px 2px 15px rgb(255 255 255 / 25%);
  color:#266c75;
  font-size: 2rem;
  line-break: anywhere;
}
h1{
  text-align: center;
  display: inline-block;
  color:#ddd;
  box-shadow: 2px 2px 20px rgb(255 255 255 / 10%);
  font-size: 2.5em;
  padding: 0.5rem;
  margin-top:1rem !important;
  margin-bottom: 2rem !important;
}
.d-flex {
  display: flex;
}
.justify-content-between{
  justify-content: space-between;
}
.justify-content-around{
  justify-content: space-around;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  width:100%;
}
.col {
  width:100%;
}
.openNav {
  position: fixed;
  right:20px;
  top:20px;
  width:50px;
  height:50px;
  display: block;
  z-index: 11111;
  cursor: pointer;
}
.toggleSpan{
  position: absolute;
  top:0px;
  right:15px;
  width:35px;
  height:3px;
  display: block;
  background-color: rgb(179, 179, 179);
  transition: all 0.5s ease;
}
.toggleSpan::after{
  position: absolute;
  top:10px;
  right:0px;
  content:'';
  width:35px;
  height:3px;
  display: block;
  background-color: rgb(179, 179, 179);
  transition: all 0.5s ease;
}
.toggleSpan::before{
  position: absolute;
  top:20px;
  right:0px;
  content:'';
  width:35px;
  height:3px;
  display: block;
  background-color: rgb(179, 179, 179);
}
.activeSpan{
  position: absolute;
  top: 10px;
  right: 15px;
  width: 35px;
  height: 3px;
  display: block;
  background-color: rgb(179, 179, 179);
  transform: rotate(45deg);
  transition: all 0.5s ease;
}
.activeSpan::after{
  position: absolute;
  content:'';
  top:0px;
  right:0px;
  width:35px;
  height:3px;
  display: block;
  background-color: rgb(179, 179, 179);
  transform: rotate(-90deg);
  transition: all 0.5s ease;
}

.nav .nav-item{
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}
.dropdown-menu.show {
  display: block;
  background: #222 !important;
  padding: 0 10px;
  color:#ddd;
  white-space: nowrap;
  width:100%;
  position: absolute !important;
  transform: translate(0px,57px) !important;
}
.nav .nav-item .nav-link {
  margin-left:0.5rem; 
    font-size: 60px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(197, 197, 197);
    white-space: nowrap;
    -webkit-text-stroke: 1px;
    -webkit-text-fill-color: transparent;
    transition:all 1s ease; 
    cursor:pointer;
}
.nav .nav-item .nav-link:hover {
  transition: 1s ease;
  color: #266c75;
  -webkit-text-stroke: 0px;
  -webkit-text-fill-color:#266c75;
}
.filter{
  filter:blur(2px);
  z-index:111
}
.noFilter {
  filter: blur(0);
}
.vh{
  height:100vh;
  overflow-y: hidden;
}

.dropdown-menu.show {
  display: block;
  background: #ddd;
}
.dropdown-item {
  padding:0 5px 5px;
}
textarea {
  resize: none;
}
textarea.form-control {
  height: auto;
  padding-right: 3rem;
  overflow: hidden;
}
@media screen and (min-width:320px) and (max-width:768px) {
    
 h1{
   margin-top: 3rem !important;
 }
}

.modal-title {
  margin-bottom: 0;
  line-height: 1.5;

  margin:0 auto;
}








@media screen and (min-width: 1200px){
  .container {
    max-width: 1170px;
  }
  .col{
    width:33.333% !important;
  }
}

@media  screen and (min-width: 992px){
  .container {
    max-width: 960px;
  }
  .col{
    width:33.333% !important;
  }
  .textHolder {
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
    margin: 4rem 0;
  }
  .inputHolder {
    display: flex;
    
  }
}


@media screen and (max-width: 767px){
  .container {
    max-width: 720px;
  }
}

@media (min-width: 320px){
  .container {
    max-width: 100%;
  } 
 
}