
.App {
  width:100%;
  height: 100%;
  display: block;
  text-align: center;
  background: linear-gradient(#283048,#859398);
}
::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-thumb{
  background: #859398;
}
::-webkit-scrollbar-track{
  background: #3e4866;
}
.pos-relative{
  position: relative;
}
button {
  outline: none;
}
h2{
  box-shadow: 2px 2px 15px rgb(255 255 255 / 25%);
  color:rgba(44, 116, 184, 0.788);
  font-size: 2rem;
}
h1{
  text-align: center;
  display: inline-block;
  color:rgba(44, 116, 184, 0.788);
  box-shadow: 2px 2px 20px rgb(255 255 255 / 10%);
  font-size: 2.5em;
  padding: 0.5rem;
  margin-top:1rem !important;
  margin-bottom: 2rem !important;
}
.d-flex {
  display: flex;
}
.justify-content-between{
  justify-content: space-between;
}
.justify-content-around{
  justify-content: space-around;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  width:100%;
}
.col {
  width:100%;
}
@media screen and (min-width: 1200px){
  .container {
    max-width: 1170px;
  }
  .col{
    width:33.333% !important;
  }
}

@media  screen and (min-width: 992px){
  .container {
    max-width: 960px;
  }
  .col{
    width:33.333% !important;
  }
  .textHolder {
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
    margin: 4rem 0;
  }
  .inputHolder {
    display: flex;
    
  }
}
.filter{
  filter:blur(2px)
}
.noFilter {
  filter: blur(0);
}

@media screen and (max-width: 767px){
  .container {
    max-width: 720px;
  }
}

@media (min-width: 320px){
  .container {
    max-width: 100%;
  } 
 
}