.singleCardHolder {
    background: rgba(0, 0, 0, 0.082);
    height:100vh;
    width:100vw;
    color:rgb(17, 68, 71);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.singleCardBody {
    width:500px;
    height:auto;
    display: block;
    background: #fff;
    position: relative;
}
.singleCardBody::before {
    content:'';
    position: absolute;
    width:100%;
    height:100%;
    top:10px;
    left:10px;
    background: rgba(12, 66, 80, 0.507);
    z-index: -1;
}
.singleCardBtns button{
    background: none;
    border:2px solid #305563;
    color:#305563;
    padding:10px 50px;
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    transition: all 0.5s ease;
    margin: 0 5px;
}
.singleCardBtns button:hover{
    background: #305563;
    border:2px solid #305563;
    color:#FFF;
    padding:10px 50px;
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    transition: all 0.5s ease;
    margin: 0 5px;
    opacity: 1;
}
.singleCardBtns{
    
    display: flex;
    justify-content: center;
    margin: 3rem 0 1rem;
}
.spinner {
    width:100vw;
    height:100vh;
}
.goBackPage{
    position: fixed;
    top:15px;
    left:30px;
}